@page
@model PhiKapStudyHours.Pages.HCI.AdminModel
@{
}
<link rel="stylesheet" href="~/css/site.css">

<body class="PhiKapp">
    <h1>Admin Home Page for @Model.user</h1>
    <div>
        <a class="btn PhiKapp2"
           asp-page="./StudyHours">
            Create a new Entry
        </a>
    </div>
    <div>
        Or Edit a Previoous Entry:
        <form method="post">
            <select class="PhiKapp2" asp-for="@Model.edit_entry">
                @foreach (var entry in Model.entries)
                {
                    <option value="@entry.Id">
                        @entry.Hours Hours | @entry.Name | @entry.Date.ToString("ddd d MMM") | Proctored by @entry.Proctor
                    </option>
                }
            </select>
            <button type="submit" class="btn btn-primary mt-2">Edit</button>
        </form>
    </div>
</body>
