@page 
@model jacksvoboda.com.Pages.HCI.StudyHoursModel
@{
}
<link rel="stylesheet" href="~/css/site.css">
<body class="PhiKapp">
    <h1>Create New Entry</h1>
    <form method="post">
        <table>
            <tr>
                <td>
                    Student:
                </td>
                <td>
                    <select asp-for="@Model.entry.Name" class="form-control">
                        @foreach (var student in Model.Students)
                        {
                            <option>@student</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Hours:
                </td>
                <td>
                    <input type="number" step=".25" min="0" max="8" asp-for="@Model.entry.Hours"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Model.user
                </td>
            </tr>
            <tr>
                <td>
                    Date
                </td>
                <td>
                    <input type="date" asp-for="@Model.entry.Date" value="@Model.date" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn PhiKapp2 mt-2">Submit Entry</button>
    </form>
</body>

